.k-input-inner {
  margin: 2px;
  height: 30px;
  font-size: 25px;
  border: 2px solid;
  display: flex;
  flex-basis: content;
}
.wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
}

.bgRed {
  background-color: red;
}
.bgBlue {
  background-color: blue;
}
.bgYellow {
  background-color: yellow;
}
.bgGreen {
  background-color: green;
}
.bgGrey {
  background-color: grey;
}
.bgWhite {
  background-color: white;
}
